$theme-blue: #1627a1;
$theme-blue-secondary: #131d68;
$theme-yellow: #ebaa02;
$theme-dark-blue: #050a2b;
$theme-darker-blue: #030511;
$theme-dark-yellow: #976f08;
$theme-white: #fff;
$theme-light-grey: #b0b0b0;
$theme-dark-grey: #3d3d3d;
